.language-wrapper a { background: url('sprite.png') no-repeat top left; width: 24px; height: 24px;  } 
.language-wrapper a._abkhazia { background-position: 0 0;  } 
.language-wrapper a._basque-country { background-position: 0 -24px;  } 
.language-wrapper a._british-antarctic-territory { background-position: 0 -48px;  } 
.language-wrapper a._commonwealth { background-position: 0 -72px;  } 
.language-wrapper a._england { background-position: 0 -96px;  } 
.language-wrapper a._gosquared { background-position: 0 -120px;  } 
.language-wrapper a._kosovo { background-position: 0 -144px;  } 
.language-wrapper a._mars { background-position: 0 -168px;  } 
.language-wrapper a._nagorno-karabakh { background-position: 0 -192px;  } 
.language-wrapper a._nato { background-position: 0 -216px;  } 
.language-wrapper a._northern-cyprus { background-position: 0 -240px;  } 
.language-wrapper a._olympics { background-position: 0 -264px;  } 
.language-wrapper a._red-cross { background-position: 0 -288px;  } 
.language-wrapper a._scotland { background-position: 0 -312px;  } 
.language-wrapper a._somaliland { background-position: 0 -336px;  } 
.language-wrapper a._south-ossetia { background-position: 0 -360px;  } 
.language-wrapper a._united-nations { background-position: 0 -384px;  } 
.language-wrapper a._unknown { background-position: 0 -408px;  } 
.language-wrapper a._wales { background-position: 0 -432px;  } 
.language-wrapper a.AD { background-position: 0 -456px;  } 
.language-wrapper a.AE { background-position: 0 -480px;  } 
.language-wrapper a.AF { background-position: 0 -504px;  } 
.language-wrapper a.AG { background-position: 0 -528px;  } 
.language-wrapper a.AI { background-position: 0 -552px;  } 
.language-wrapper a.AL { background-position: 0 -576px;  } 
.language-wrapper a.AM { background-position: 0 -600px;  } 
.language-wrapper a.AN { background-position: 0 -624px;  } 
.language-wrapper a.AO { background-position: 0 -648px;  } 
.language-wrapper a.AQ { background-position: 0 -672px;  } 
.language-wrapper a.AR { background-position: 0 -696px;  } 
.language-wrapper a.AS { background-position: 0 -720px;  } 
.language-wrapper a.AT { background-position: 0 -744px;  } 
.language-wrapper a.AU { background-position: 0 -768px;  } 
.language-wrapper a.AW { background-position: 0 -792px;  } 
.language-wrapper a.AX { background-position: 0 -816px;  } 
.language-wrapper a.AZ { background-position: 0 -840px;  } 
.language-wrapper a.BA { background-position: 0 -864px;  } 
.language-wrapper a.BB { background-position: 0 -888px;  } 
.language-wrapper a.BD { background-position: 0 -912px;  } 
.language-wrapper a.BE { background-position: 0 -936px;  } 
.language-wrapper a.BF { background-position: 0 -960px;  } 
.language-wrapper a.BG { background-position: 0 -984px;  } 
.language-wrapper a.BH { background-position: 0 -1008px;  } 
.language-wrapper a.BI { background-position: 0 -1032px;  } 
.language-wrapper a.BJ { background-position: 0 -1056px;  } 
.language-wrapper a.BL { background-position: 0 -1080px;  } 
.language-wrapper a.BM { background-position: 0 -1104px;  } 
.language-wrapper a.BN { background-position: 0 -1128px;  } 
.language-wrapper a.BO { background-position: 0 -1152px;  } 
.language-wrapper a.BR { background-position: 0 -1176px;  } 
.language-wrapper a.BS { background-position: 0 -1200px;  } 
.language-wrapper a.BT { background-position: 0 -1224px;  } 
.language-wrapper a.BW { background-position: 0 -1248px;  } 
.language-wrapper a.BY { background-position: 0 -1272px;  } 
.language-wrapper a.BZ { background-position: 0 -1296px;  } 
.language-wrapper a.CA { background-position: 0 -1320px;  } 
.language-wrapper a.CC { background-position: 0 -1344px;  } 
.language-wrapper a.CD { background-position: 0 -1368px;  } 
.language-wrapper a.CF { background-position: 0 -1392px;  } 
.language-wrapper a.CG { background-position: 0 -1416px;  } 
.language-wrapper a.CH { background-position: 0 -1440px;  } 
.language-wrapper a.CI { background-position: 0 -1464px;  } 
.language-wrapper a.CK { background-position: 0 -1488px;  } 
.language-wrapper a.CL { background-position: 0 -1512px;  } 
.language-wrapper a.CM { background-position: 0 -1536px;  } 
.language-wrapper a.CN { background-position: 0 -1560px;  } 
.language-wrapper a.CO { background-position: 0 -1584px;  } 
.language-wrapper a.CR { background-position: 0 -1608px;  } 
.language-wrapper a.CU { background-position: 0 -1632px;  } 
.language-wrapper a.CV { background-position: 0 -1656px;  } 
.language-wrapper a.CW { background-position: 0 -1680px;  } 
.language-wrapper a.CX { background-position: 0 -1704px;  } 
.language-wrapper a.CY { background-position: 0 -1728px;  } 
.language-wrapper a.CZ { background-position: 0 -1752px;  } 
.language-wrapper a.DE { background-position: 0 -1776px;  } 
.language-wrapper a.DJ { background-position: 0 -1800px;  } 
.language-wrapper a.DK { background-position: 0 -1824px;  } 
.language-wrapper a.DM { background-position: 0 -1848px;  } 
.language-wrapper a.DO { background-position: 0 -1872px;  } 
.language-wrapper a.DZ { background-position: 0 -1896px;  } 
.language-wrapper a.EC { background-position: 0 -1920px;  } 
.language-wrapper a.EE { background-position: 0 -1944px;  } 
.language-wrapper a.EG { background-position: 0 -1968px;  } 
.language-wrapper a.EH { background-position: 0 -1992px;  } 
.language-wrapper a.ER { background-position: 0 -2016px;  } 
.language-wrapper a.ES { background-position: 0 -2040px;  } 
.language-wrapper a.ET { background-position: 0 -2064px;  } 
.language-wrapper a.EU { background-position: 0 -2088px;  } 
.language-wrapper a.FI { background-position: 0 -2112px;  } 
.language-wrapper a.FJ { background-position: 0 -2136px;  } 
.language-wrapper a.FK { background-position: 0 -2160px;  } 
.language-wrapper a.FM { background-position: 0 -2184px;  } 
.language-wrapper a.FO { background-position: 0 -2208px;  } 
.language-wrapper a.FR { background-position: 0 -2232px;  } 
.language-wrapper a.GA { background-position: 0 -2256px;  } 
.language-wrapper a.GB { background-position: 0 -2280px;  } 
.language-wrapper a.GD { background-position: 0 -2304px;  } 
.language-wrapper a.GE { background-position: 0 -2328px;  } 
.language-wrapper a.GG { background-position: 0 -2352px;  } 
.language-wrapper a.GH { background-position: 0 -2376px;  } 
.language-wrapper a.GI { background-position: 0 -2400px;  } 
.language-wrapper a.GL { background-position: 0 -2424px;  } 
.language-wrapper a.GM { background-position: 0 -2448px;  } 
.language-wrapper a.GN { background-position: 0 -2472px;  } 
.language-wrapper a.GQ { background-position: 0 -2496px;  } 
.language-wrapper a.GR { background-position: 0 -2520px;  } 
.language-wrapper a.GS { background-position: 0 -2544px;  } 
.language-wrapper a.GT { background-position: 0 -2568px;  } 
.language-wrapper a.GU { background-position: 0 -2592px;  } 
.language-wrapper a.GW { background-position: 0 -2616px;  } 
.language-wrapper a.GY { background-position: 0 -2640px;  } 
.language-wrapper a.HK { background-position: 0 -2664px;  } 
.language-wrapper a.HN { background-position: 0 -2688px;  } 
.language-wrapper a.HR { background-position: 0 -2712px;  } 
.language-wrapper a.HT { background-position: 0 -2736px;  } 
.language-wrapper a.HU { background-position: 0 -2760px;  } 
.language-wrapper a.IC { background-position: 0 -2784px;  } 
.language-wrapper a.ID { background-position: 0 -2808px;  } 
.language-wrapper a.IE { background-position: 0 -2832px;  } 
.language-wrapper a.IL { background-position: 0 -2856px;  } 
.language-wrapper a.IM { background-position: 0 -2880px;  } 
.language-wrapper a.IN { background-position: 0 -2904px;  } 
.language-wrapper a.IQ { background-position: 0 -2928px;  } 
.language-wrapper a.IR { background-position: 0 -2952px;  } 
.language-wrapper a.IS { background-position: 0 -2976px;  } 
.language-wrapper a.IT { background-position: 0 -3000px;  } 
.language-wrapper a.JE { background-position: 0 -3024px;  } 
.language-wrapper a.JM { background-position: 0 -3048px;  } 
.language-wrapper a.JO { background-position: 0 -3072px;  } 
.language-wrapper a.JP { background-position: 0 -3096px;  } 
.language-wrapper a.KE { background-position: 0 -3120px;  } 
.language-wrapper a.KG { background-position: 0 -3144px;  } 
.language-wrapper a.KH { background-position: 0 -3168px;  } 
.language-wrapper a.KI { background-position: 0 -3192px;  } 
.language-wrapper a.KM { background-position: 0 -3216px;  } 
.language-wrapper a.KN { background-position: 0 -3240px;  } 
.language-wrapper a.KP { background-position: 0 -3264px;  } 
.language-wrapper a.KR { background-position: 0 -3288px;  } 
.language-wrapper a.KW { background-position: 0 -3312px;  } 
.language-wrapper a.KY { background-position: 0 -3336px;  } 
.language-wrapper a.KZ { background-position: 0 -3360px;  } 
.language-wrapper a.LA { background-position: 0 -3384px;  } 
.language-wrapper a.LB { background-position: 0 -3408px;  } 
.language-wrapper a.LC { background-position: 0 -3432px;  } 
.language-wrapper a.LI { background-position: 0 -3456px;  } 
.language-wrapper a.LK { background-position: 0 -3480px;  } 
.language-wrapper a.LR { background-position: 0 -3504px;  } 
.language-wrapper a.LS { background-position: 0 -3528px;  } 
.language-wrapper a.LT { background-position: 0 -3552px;  } 
.language-wrapper a.LU { background-position: 0 -3576px;  } 
.language-wrapper a.LV { background-position: 0 -3600px;  } 
.language-wrapper a.LY { background-position: 0 -3624px;  } 
.language-wrapper a.MA { background-position: 0 -3648px;  } 
.language-wrapper a.MC { background-position: 0 -3672px;  } 
.language-wrapper a.MD { background-position: 0 -3696px;  } 
.language-wrapper a.ME { background-position: 0 -3720px;  } 
.language-wrapper a.MF { background-position: 0 -3744px;  } 
.language-wrapper a.MG { background-position: 0 -3768px;  } 
.language-wrapper a.MH { background-position: 0 -3792px;  } 
.language-wrapper a.MK { background-position: 0 -3816px;  } 
.language-wrapper a.ML { background-position: 0 -3840px;  } 
.language-wrapper a.MM { background-position: 0 -3864px;  } 
.language-wrapper a.MN { background-position: 0 -3888px;  } 
.language-wrapper a.MO { background-position: 0 -3912px;  } 
.language-wrapper a.MP { background-position: 0 -3936px;  } 
.language-wrapper a.MQ { background-position: 0 -3960px;  } 
.language-wrapper a.MR { background-position: 0 -3984px;  } 
.language-wrapper a.MS { background-position: 0 -4008px;  } 
.language-wrapper a.MT { background-position: 0 -4032px;  } 
.language-wrapper a.MU { background-position: 0 -4056px;  } 
.language-wrapper a.MV { background-position: 0 -4080px;  } 
.language-wrapper a.MW { background-position: 0 -4104px;  } 
.language-wrapper a.MX { background-position: 0 -4128px;  } 
.language-wrapper a.MY { background-position: 0 -4152px;  } 
.language-wrapper a.MZ { background-position: 0 -4176px;  } 
.language-wrapper a.NA { background-position: 0 -4200px;  } 
.language-wrapper a.NC { background-position: 0 -4224px;  } 
.language-wrapper a.NE { background-position: 0 -4248px;  } 
.language-wrapper a.NF { background-position: 0 -4272px;  } 
.language-wrapper a.NG { background-position: 0 -4296px;  } 
.language-wrapper a.NI { background-position: 0 -4320px;  } 
.language-wrapper a.NL { background-position: 0 -4344px;  } 
.language-wrapper a.NO { background-position: 0 -4368px;  } 
.language-wrapper a.NP { background-position: 0 -4392px;  } 
.language-wrapper a.NR { background-position: 0 -4416px;  } 
.language-wrapper a.NU { background-position: 0 -4440px;  } 
.language-wrapper a.NZ { background-position: 0 -4464px;  } 
.language-wrapper a.OM { background-position: 0 -4488px;  } 
.language-wrapper a.PA { background-position: 0 -4512px;  } 
.language-wrapper a.PE { background-position: 0 -4536px;  } 
.language-wrapper a.PF { background-position: 0 -4560px;  } 
.language-wrapper a.PG { background-position: 0 -4584px;  } 
.language-wrapper a.PH { background-position: 0 -4608px;  } 
.language-wrapper a.PK { background-position: 0 -4632px;  } 
.language-wrapper a.PL { background-position: 0 -4656px;  } 
.language-wrapper a.PN { background-position: 0 -4680px;  } 
.language-wrapper a.PR { background-position: 0 -4704px;  } 
.language-wrapper a.PS { background-position: 0 -4728px;  } 
.language-wrapper a.PT { background-position: 0 -4752px;  } 
.language-wrapper a.PW { background-position: 0 -4776px;  } 
.language-wrapper a.PY { background-position: 0 -4800px;  } 
.language-wrapper a.QA { background-position: 0 -4824px;  } 
.language-wrapper a.RO { background-position: 0 -4848px;  } 
.language-wrapper a.RS { background-position: 0 -4872px;  } 
.language-wrapper a.RU { background-position: 0 -4896px;  } 
.language-wrapper a.RW { background-position: 0 -4920px;  } 
.language-wrapper a.SA { background-position: 0 -4944px;  } 
.language-wrapper a.SB { background-position: 0 -4968px;  } 
.language-wrapper a.SC { background-position: 0 -4992px;  } 
.language-wrapper a.SD { background-position: 0 -5016px;  } 
.language-wrapper a.SE { background-position: 0 -5040px;  } 
.language-wrapper a.SG { background-position: 0 -5064px;  } 
.language-wrapper a.SH { background-position: 0 -5088px;  } 
.language-wrapper a.SI { background-position: 0 -5112px;  } 
.language-wrapper a.SK { background-position: 0 -5136px;  } 
.language-wrapper a.SL { background-position: 0 -5160px;  } 
.language-wrapper a.SM { background-position: 0 -5184px;  } 
.language-wrapper a.SN { background-position: 0 -5208px;  } 
.language-wrapper a.SO { background-position: 0 -5232px;  } 
.language-wrapper a.SR { background-position: 0 -5256px;  } 
.language-wrapper a.SS { background-position: 0 -5280px;  } 
.language-wrapper a.ST { background-position: 0 -5304px;  } 
.language-wrapper a.SV { background-position: 0 -5328px;  } 
.language-wrapper a.SY { background-position: 0 -5352px;  } 
.language-wrapper a.SZ { background-position: 0 -5376px;  } 
.language-wrapper a.TC { background-position: 0 -5400px;  } 
.language-wrapper a.TD { background-position: 0 -5424px;  } 
.language-wrapper a.TF { background-position: 0 -5448px;  } 
.language-wrapper a.TG { background-position: 0 -5472px;  } 
.language-wrapper a.TH { background-position: 0 -5496px;  } 
.language-wrapper a.TJ { background-position: 0 -5520px;  } 
.language-wrapper a.TK { background-position: 0 -5544px;  } 
.language-wrapper a.TL { background-position: 0 -5568px;  } 
.language-wrapper a.TM { background-position: 0 -5592px;  } 
.language-wrapper a.TN { background-position: 0 -5616px;  } 
.language-wrapper a.TO { background-position: 0 -5640px;  } 
.language-wrapper a.TR { background-position: 0 -5664px;  } 
.language-wrapper a.TT { background-position: 0 -5688px;  } 
.language-wrapper a.TV { background-position: 0 -5712px;  } 
.language-wrapper a.TW { background-position: 0 -5736px;  } 
.language-wrapper a.TZ { background-position: 0 -5760px;  } 
.language-wrapper a.UA { background-position: 0 -5784px;  } 
.language-wrapper a.UG { background-position: 0 -5808px;  } 
.language-wrapper a.US { background-position: 0 -5832px;  } 
.language-wrapper a.UY { background-position: 0 -5856px;  } 
.language-wrapper a.UZ { background-position: 0 -5880px;  } 
.language-wrapper a.VA { background-position: 0 -5904px;  } 
.language-wrapper a.VC { background-position: 0 -5928px;  } 
.language-wrapper a.VE { background-position: 0 -5952px;  } 
.language-wrapper a.VG { background-position: 0 -5976px;  } 
.language-wrapper a.VI { background-position: 0 -6000px;  } 
.language-wrapper a.VN { background-position: 0 -6024px;  } 
.language-wrapper a.VU { background-position: 0 -6048px;  } 
.language-wrapper a.WF { background-position: 0 -6072px;  } 
.language-wrapper a.WS { background-position: 0 -6096px;  } 
.language-wrapper a.YE { background-position: 0 -6120px;  } 
.language-wrapper a.YT { background-position: 0 -6144px;  } 
.language-wrapper a.ZA { background-position: 0 -6168px;  } 
.language-wrapper a.ZM { background-position: 0 -6192px;  } 
.language-wrapper a.ZW { background-position: 0 -6216px;  }